<div class="container">
  <h1>За мен</h1>
  <div class="section">
    <h2 class="section-title" (click)="toggleSection($event)">Информация за мен</h2>
    <p class="section-content">Здравайте, аз съм Любомира Билева!</p>
  </div>
  
  <div class="section">
    <h2 class="section-title" (click)="toggleSection($event)">Хобита и интереси</h2>
    <p class="section-content">Моите хобита са каране на колело, излизане с приятели. А също така много обичам и да пътувам.</p>
  </div>
  
  <div class="section">
    <h2 class="section-title" (click)="toggleSection($event)">Любим Content Creator</h2>
    <p class="section-content">Една от моите любими YouTube content creator-и е <a class="link" href="https://youtube.com/@YoanaYokko?si=_4Onnv9uYEfSGcYU">Yoana Yokko</a></p>
  </div>

  <div class="section">
    <h2 class="section-title" (click)="toggleSection($event)">Моят канал</h2>
    <p class="section-content">Моят канал се казва Lyubi Bubi. В него ще качвам влогове от ежедневието ми, от пътувания и ще споделям полезна информация с вас! </p>
  </div>
  
  <div class="section">
    <h2 class="section-title" (click)="toggleSection($event)">Цени на услуги</h2>
    <p class="section-content">За цени и услуги ми пишете на лично съобщение или на имейл.</p>
  </div>
</div>